.Orders {
    position: fixed;
    left: 0;
    right: 0;
}
.order-title {
    margin: 2rem auto;
    font-size: 3rem;
    font-weight: 600;
}

.tailor-info-button {
    position: fixed;
    right: 4rem;
    top: 2.5rem;
    border-radius: 1rem;
    border-style: none;
    background-color: darkcyan;
    padding: 1rem;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 550;
}

.orders {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 5% 60% 5%;
}

.forw-prev-btn {
    border-radius: 1rem;
    height: 10%;
    width: 150%;
    cursor: pointer;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.3rem;
    font-weight: 600;
}

.forw-prev-btn:hover {
    background-color: aqua;
}

.order {
    margin: 4px 4px 240px;
    box-shadow: 0 0 6px #ccc;
    text-align: center;
    cursor: pointer;
    transition: 1.3s ease;
    display: inline-block;
    min-width:300px;min-height: 800px;
    gap: .4rem;
    box-shadow: 0rem 0rem 4rem rgba(0, 0, 1, 1);
}

.order img {
    display: block;
    min-height: 540px;
}

.order:hover {
    background-color: #ffd700;
}

.order-skuUnits-title {
    font-weight: 500;
    font-size: 1.2rem;
    margin-bottom: .5rem; 
}

.order-skuUnit {
    /* display: grid; */
    grid-template-columns: repeat(2, 10rem);
}

.sku-detail {
    margin-top: 1rem;
    padding: 1rem;
    cursor: pointer;
}

.order-skuUnits-price {
    font-weight: 500;
    font-size: 1.2rem;
    margin-bottom: .5rem; 
}

table{
    width: 100%;
}
