.tailors-title {
    font-size: 3rem;
    font-weight: 600;
    margin-top: 3%;
    margin-bottom: 1%;
}

.tailor-add-form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: auto;
    background-color: cyan;
    padding: 1%;
    width: 20rem;
    border-radius: 1rem;  
    gap: .5rem;
}

.tailor-input-name {
    border-radius: 1rem;
    border-color: black;
    text-align: center;
    height: 1.5rem;
}

.tailor-input-username {
    border-radius: 1rem;
    border-color: black;
    text-align: center;
    height: 1.5rem;
}

.tailor-input-button {
    border-radius: 1rem;
    border-color: black;
    text-align: center;
    width: 7rem;
    background-color: lightblue;
}

.tailor {
    margin: 1.5rem auto auto auto;
    width: 30rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    transition: 1.3s ease;
}

.tailor-info:hover {
    background-color: #ffd700;
}

.tailor-info {
    margin:auto;
    border-style: solid;
    border-radius: 1rem;
    border-width: 1px;
    border-color: black;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    padding: .4rem;
    margin: 1rem 1rem 1rem 1rem;
    cursor: pointer;
}

.tailor-delete {
    grid-column-start: 1;
    grid-column-end: 3;
    text-align: center;
    border-radius: 1rem;
    margin: auto;
    padding: .1rem .9rem .1rem .9rem;
    background-color: lightblue;
}